.container {
    margin-top: 15px;
    background:#9fc5f7;
    border:1px solid rgb(8, 19, 24);
    width: 50%;
    margin-left: 10px;
    display: inline-block;
    float: right;
}

.content{
    margin: 0 auto;
}