<div class="container">
  <p>Main Component</p>
  <div class="content">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste saepe harum reiciendis doloribus veniam, 
  amet excepturi sunt voluptatibus possimus, placeat eaque? Iste eos ipsam consectetur vel accusamus praesentium 
  nesciunt nulla eligendi ab facilis numquam, blanditiis, autem a aperiam quas! Dolor adipisci sapiente fugit voluptatibus quibusdam, 
  minima illo quam odio amet minus accusamus a ab quisquam veritatis est iste repudiandae, beatae molestias inventore possimus facilis, 
  fugiat deserunt voluptates? Fugit beatae eius, culpa asperiores nam corrupti velit quia ullam, ea aperiam deserunt accusamus sunt recusandae 
  iste ipsam, ipsum officia esse cum fuga.
  </div>
  <p></p>
  <div class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste saepe harum reiciendis doloribus veniam, 
      amet excepturi sunt voluptatibus possimus, placeat eaque? Iste eos ipsam consectetur vel accusamus praesentium 
      nesciunt nulla eligendi ab facilis numquam, blanditiis, autem a aperiam quas! Dolor adipisci sapiente fugit voluptatibus quibusdam, 
      minima illo quam odio amet minus accusamus a ab quisquam veritatis est iste repudiandae, beatae molestias inventore possimus facilis, 
      fugiat deserunt voluptates? Fugit beatae eius, culpa asperiores nam corrupti velit quia ullam, ea aperiam deserunt accusamus sunt recusandae 
      iste ipsam, ipsum officia esse cum fuga.
      </div>
</div>